<a href='views/home.html' class="cvback link ajax-link"></a>
<h1 class="letterfixabout">About</h1>

<p class="intro cvintro">I'm an enthusastic and highly motivated individual able to communicate ideas and build upon others. As a designer by trade, my work has led me into the world of digital where I have developed a passion for web. In my spare time I have been teaching myself web development, which in turn has helped me establish a stronger understanding of UX and UI design. </br></br>

Outside of design I produce electronic music, develop mobile web projects and spend a lot of time brainstorming ideas!   </p></br>

<div class="intro cvintro">
	<span class="cvwhite">Skills:</span>
	<ul>
	    <li>Adobe Creative Suite</li>
	    <li>UI/UX</li>
	    <li>HTML5, CSS, JavaScript</li>
	    <li>jQuery, Sass, Grunt, Git</li>	    
	    <li>Ableton Live</li>
	</ul>
</div>

<div class="intro cvintro">
	<span class="cvwhite">Experience:</span>
	<ul>
	    <li>Digital Designer @ <span class="halfwhite">Saddington Baynes</span></li>
	    <li>Freelance</li>
</div>

<div class="intro cvintro">
	<span class="cvwhite">Education:</span>
	<ul>
	    <li>BA Graphic Design @ <span class="halfwhite">Nottingham Trent</span></li>
		<li>Art Foundation @ <span class="halfwhite">LCC</span></li></li>
	</ul>
</div>

</br>
<div class="intro cvintro cvdown">
	Download my <a href="../images/Jack_Boyce_CV.pdf" class='link'>CV</a>, and if you like what you see <a href='mailto:jackwilliamboyce@gmail.com' class='link'>get in touch.</a>
</div>