
<div class="contact-icon">
	<a href="tel:+447518398382" class="phone link"></a>
	<a href="mailto:jackwilliamboyce@gmail.com" class="mail link"></a>
</div>

<h1 class='letterfixhello'>Hello.</h1>

<p class="intro">
	I'm Jack Boyce. A digital designer, music producer and aspiring front-end developer currently living in London.
</p></br>

<div class="intro">
	Take a look at some of my work and <a href="views/cv.html" id='cv' class='link ajax-link'>click here</a> to find out about me.
</div></br>

<div id="contact">
	Mobile: <a href='tel:+447518398382' class='link'>+44(0)7518 398 382</a></br>
	Email: <a href='mailto:jackwilliamboyce@gmail.com' class='link'>jackwilliamboyce@gmail.com</a>
</div>