*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
	background-color: $blue;
	margin: 0;
	padding: 0;
	border: 0;
	font: 10px;
}

a{
	display: inline-block;
}

.col1{
	background-color: $blue; 
}

.col2{
	background-color: $green;
}

.col3{
	background-color: $green;
	width: 10%;
	float: left;
}

.col1, .col2{
	overflow: auto;
	width: 45%;
	float: left;
}

.inside1{
	padding-top: 3%;
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 10%;
	@include visibility (hidden);
}
.inside3{
	position: relative;
	height: 100%;
	width: 100%;
    text-align: center;
}

h1{	
	// padding-top: 3%;
	font-family: $font;
	font-size: 7rem;
	margin: 0;
	color: white;
	@include transition (0.3s);
}

.intro{
	font-family: $font;
	font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
	margin-bottom: 3%;
	@include transition (0.3s);
}

.info-text{
	font-family: $font;
	font-size: 1.1rem;
    color: white;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
	padding-bottom: 1.5%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
	@include transition (0.3s);

}

.info-scroll{
	overflow: auto;
}

.info-dim{
	position: fixed;
	width: 100%;
	height: 25%;
	background-color: rgba(0, 0, 0, 0);
	margin-bottom: -500px;
	overflow: auto;
	bottom: 0;
	z-index: 9999;
	@include transition (0.3s);
}

.info-dim.toggle{
	background-color: rgba(0, 0, 0, 0.85);
	margin-bottom: 0;
	@include transition (0.3s);
}

#contact{
	@extend .intro;
	display: auto;
}

#contact.toggle{
	display: none;
}

.link{
	color: white;
	text-decoration: none;
	@include transition (0.2s);
}

.link:hover{
	opacity: 0.75;
	@include transition (0.2s);
}

.dotted{
	font-weight: thin;
	border-bottom: 1px white dotted;
}

// ========================IMAGES============================

.dim{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	@include transition (0.3s);
}

.dim.toggle{
	opacity: 0.8;
	pointer-events: auto;
	@include transition (0.3s);
}

@for $number from 1 through 11 {
	.image-thumb_#{$number}{
    	background-image: url(../images/work/thumbnails/thumb#{$number}.jpg);
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
	}	

	.image-thumb_#{$number}:hover {
		background-color: $green;
	}
}

// =======================IMAGE TEXT===========================


// =========================BUTTONS============================

.close-image{
	position: fixed;
	opacity: 0;
	width: 20px;
	height: 20px;
	right:0;
	z-index: 99;
	margin-right: 30px;
	background-image: url(../images/buttons/close.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include transition (0.3s);
}

.close-image.toggle{	
	opacity: 1;
	margin-top: 30px;
	@include transition (0.3s);
}

.pop{
	position: absolute;
	width: 90%;
	height: 80%;
	opacity: 0;
	left: 100%;
	margin-left: -95%;
	top: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	pointer-events: none;
	z-index: 99;
	@include transition (0.3s);
	@include transform (-50%);
}

.pop.toggle{
	opacity: 1;
	pointer-events: auto;
	@include transition (0.3s);
}

.arrows{
	position: absolute;
	margin-left: 26px;
	opacity: 0;
	z-index: 999;
	@include transition (0.3s);
}

.arrows.toggle{
	margin-top: 30px;
	opacity: 1;
	@include transition (0.3s);
}

.pop-forward	{
	position: fixed;
	width: 20px;
	height: 20px;
	z-index: 99;
	background-image: url(../images/buttons/forward.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include transition (0.3s);

}

.pop-back{
	@extend .pop-forward;
	position: relative;
	background-image: url(../images/buttons/back.svg);
}

.pop-back:hover{
	opacity: 0.5;
	@include transition (0.3s);
}

.pop-forward{
	position: relative;
	float: left;
	margin-right: 10px;
}

.pop-forward:hover{
	opacity: 0.5;
	@include transition (0.3s);
}


.cvback{
	width: 20px;
	height: 20px;
	z-index: 99;
	border-radius: 100%;
	background-image: url(../images/buttons/close.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include transition (0.3s);
}

.info{
	@extend .pop-forward;
	position: relative;
	background-image: url(../images/buttons/info.svg);
	margin-left: 10px;
	@include transition (0.3s);

}

.loading{
	position: absolute;
	width: 30px;
	height: 30px;
	z-index: 9;
	border-radius: 100%;
	background-image: url(../images/buttons/loading.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin { 
	100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
	100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } 
}

// =========================SOCIAL============================

.social-group{
	position: absolute;
	width: 50px;
	height: 350px;
	left: 0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
}

.social1, .social2, .social3 {
	margin-bottom: 100%;	
}

@for $number from 1 through 4{
	.social#{$number}{
		background-image: url(../images/social/social#{$number}.svg);
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-size: cover;
		background-position: center;
		background-color: $green;
		@include transition (0.3s);
	}

	.social#{$number}:hover{
		background-color: lighten($green, 3%);
		@include transition (0.3s);
	}
}

// =========================CV PAGE=========================== //

// li{
// 	list-style: none;
// }

.cvback{
	margin-top: 28px;
	margin-left: 34.5%;
	float: right;
	position: fixed
}

.cvwhite{
	    color: rgba(255, 255, 255, 1);
}

.halfwhite{
	    color: rgba(255, 255, 255, 0.75);
}

ul {
    list-style-type: none;  
    padding: 0px;
    margin: 0px;  
}

table{
    border-collapse: collapse;
}

.table-padding{
	padding-right: 40px;
}

.cvtable{
	font-size: 1.25rem;
}

.cvdown{
	padding-bottom: 50px;
}

.tools{
	opacity: 0.75;
	font-family: $font2;
}

.letterfixabout{
	margin-left: 3px;
}

.letterfixhello{
	margin-left: -5px;
}



.iframe-con{
	display: block;
	height: 100%;
	width: 100%;
}

.app-iframe{
	border: none;
	vertical-align: middle;
	margin: 0 auto;
    display:block;
    width:100%;
    max-width: 370px;
    max-height: 658px;
    height: 100%;
}

.image-thumb_2{
	// display: none;
}