@media only screen and (min-width: 767px){

	
	.cvintro{
		font-size: 1.5rem;
	}


	.contact-icon{
		display: none;
	}
}

@media only screen and (max-width: 767px){

	.container{
		position: fixed;
		top: 0;
		bottom: 0;
		height: 100% !important;
		width: 100% !important;
	}

	h1{
		padding-top: 0;
		font-size: 3rem;
		@include transition (0.3s);
	}

	.intro{
		font-size: 1rem;
		@include transition (0.3s);
	}

	.inside1{
		padding-top: 0;
	}

	.inside2{

		position: relative;
		height: 100%;
	}


	.col1{
		width: 100%;
		float: default;
		height: 40% !important;
	}

	.col2{
		width: 100%;
		height: 50% !important;
	}

	.col3{
		width: 100%;
		height: 10% !important;
			.social-group{
				width: 100%;
			}
	}

	.social-group{
		height: 35px;
	}

	.social1, .social2, .social3{
		width: 35px;
		height: 35px;
		margin-bottom: 0;
		margin-right: 7%;		
	}
	
	.social4{
		width: 35px;
		height: 35px;
	}


	.cvback{
		position: fixed;
		right: 0;
		margin-top: 5px;
		margin-right: 10%;
	}

	#contact{
		display: none;
	}

	.contact-icon{
		position: fixed;
		margin-right: 8.5%;
		right: 0;
		margin-top: -4px;
	}

	.phone, .mail{
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 100%;
	}

	.mail{
		background-image: url(../images/social/mail.svg);
		background-size: cover;
		background-position: center;
	}

	.phone{
		background-image: url(../images/social/phone.svg);
		background-size: cover;
		background-position: center
	}

	.pop-forward:hover{
		opacity: 1;
		@include transition (0.3s);
	}

	.pop-back:hover{
		opacity: 1;
		@include transition (0.3s);
	}

	.link:hover{
		opacity: 1;
		@include transition (0.2s);
	}

	.cvtable{
		font-size: 0.7rem;
	}

	@for $number from 1 through 14 {
		.image-thumb_#{$number} {
	    	float: left;
		}	
	}

	.info-text{
		padding-top: 5%;
	}

	.letterfixabout{
		margin-left: 1px;
	}

	.letterfixhello{
		margin-left: 0px;
	}

}

@media only screen and (min-width: 767px) and (max-width: 1130px){


	.intro{
		font-size: 1.5rem;
			margin-bottom: 5%;
		@include transition (0.3s);
	}

}

@media only screen and (max-width: 467px) and (max-height: 767px){
	
	h1{
		font-size: 2rem;
		@include transition (0.3s);
		margin-bottom: 3%;
	}

	.intro{
		font-size: 1rem;
		margin: 0;
		margin-bottom: 0;
		@include transition (0.3s);
	}
}

@media only screen and (max-width: 467px) and (max-height: 467px){
	
	h1{
		font-size: 1.5rem;
		@include transition (0.3s);
		margin-bottom: 3%;
	}

	.intro{
		font-size: 0.75rem;
		margin: 0;
		margin-bottom: 0;
		@include transition (0.3s);
	}
}
