@font-face{ 
	font-family: 'akzidenz-grotesk_next_regulRg'; 
	src: url('../fonts/agnextregular-webfont.eot');
	src: url('../fonts/agnextregular-webfont.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/agnextregular-webfont.woff') format('woff'), 
	url('../fonts/agnextregular-webfont.ttf') format('truetype'), 
	url('../fonts/agnextregular-webfont.svg#akzidenz-grotesk_next_regulRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_nextlight';
    src: url('../fonts/agnextlight-webfont.eot');
    src: url('../fonts/agnextlight-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/agnextlight-webfont.woff') format('woff'),
	url('../fonts/agnextlight-webfont.ttf') format('truetype'),
	url('../fonts/agnextlight-webfont.svg#akzidenz-grotesk_nextlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
$font: 'akzidenz-grotesk_next_regulRg'; 
$font2: 'akzidenz-grotesk_next_regulRg'; 

$blue: #4CABC4;
$orange: #DB8A3B;
$green: #08B495;

