@font-face {
  font-family: 'akzidenz-grotesk_next_regulRg';
  src: url("../fonts/agnextregular-webfont.eot");
  src: url("../fonts/agnextregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/agnextregular-webfont.woff") format("woff"), url("../fonts/agnextregular-webfont.ttf") format("truetype"), url("../fonts/agnextregular-webfont.svg#akzidenz-grotesk_next_regulRg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akzidenz-grotesk_nextlight';
  src: url("../fonts/agnextlight-webfont.eot");
  src: url("../fonts/agnextlight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/agnextlight-webfont.woff") format("woff"), url("../fonts/agnextlight-webfont.ttf") format("truetype"), url("../fonts/agnextlight-webfont.svg#akzidenz-grotesk_nextlight") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #4cabc4;
  margin: 0;
  padding: 0;
  border: 0;
  font: 10px; }

a {
  display: inline-block; }

.col1 {
  background-color: #4cabc4; }

.col2 {
  background-color: #08b495; }

.col3 {
  background-color: #08b495;
  width: 10%;
  float: left; }

.col1, .col2 {
  overflow: auto;
  width: 45%;
  float: left; }

.inside1 {
  padding-top: 3%;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.inside3 {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center; }

h1 {
  font-family: "akzidenz-grotesk_next_regulRg";
  font-size: 7rem;
  margin: 0;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.intro, #contact {
  font-family: "akzidenz-grotesk_next_regulRg";
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 3%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.info-text {
  font-family: "akzidenz-grotesk_next_regulRg";
  font-size: 1.1rem;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 1.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
  /*IE*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.info-scroll {
  overflow: auto; }

.info-dim {
  position: fixed;
  width: 100%;
  height: 25%;
  background-color: transparent;
  margin-bottom: -500px;
  overflow: auto;
  bottom: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.info-dim.toggle {
  background-color: rgba(0, 0, 0, 0.85);
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#contact {
  display: auto; }

#contact.toggle {
  display: none; }

.link {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.link:hover {
  opacity: 0.75;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.dotted {
  font-weight: thin;
  border-bottom: 1px white dotted; }

.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.dim.toggle {
  opacity: 0.8;
  pointer-events: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.image-thumb_1 {
  background-image: url(../images/work/thumbnails/thumb1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_1:hover {
  background-color: #08b495; }

.image-thumb_2 {
  background-image: url(../images/work/thumbnails/thumb2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_2:hover {
  background-color: #08b495; }

.image-thumb_3 {
  background-image: url(../images/work/thumbnails/thumb3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_3:hover {
  background-color: #08b495; }

.image-thumb_4 {
  background-image: url(../images/work/thumbnails/thumb4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_4:hover {
  background-color: #08b495; }

.image-thumb_5 {
  background-image: url(../images/work/thumbnails/thumb5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_5:hover {
  background-color: #08b495; }

.image-thumb_6 {
  background-image: url(../images/work/thumbnails/thumb6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_6:hover {
  background-color: #08b495; }

.image-thumb_7 {
  background-image: url(../images/work/thumbnails/thumb7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_7:hover {
  background-color: #08b495; }

.image-thumb_8 {
  background-image: url(../images/work/thumbnails/thumb8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_8:hover {
  background-color: #08b495; }

.image-thumb_9 {
  background-image: url(../images/work/thumbnails/thumb9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_9:hover {
  background-color: #08b495; }

.image-thumb_10 {
  background-image: url(../images/work/thumbnails/thumb10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_10:hover {
  background-color: #08b495; }

.image-thumb_11 {
  background-image: url(../images/work/thumbnails/thumb11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-thumb_11:hover {
  background-color: #08b495; }

.close-image {
  position: fixed;
  opacity: 0;
  width: 20px;
  height: 20px;
  right: 0;
  z-index: 99;
  margin-right: 30px;
  background-image: url(../images/buttons/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.close-image.toggle {
  opacity: 1;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pop {
  position: absolute;
  width: 90%;
  height: 80%;
  opacity: 0;
  left: 100%;
  margin-left: -95%;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.pop.toggle {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.arrows {
  position: absolute;
  margin-left: 26px;
  opacity: 0;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.arrows.toggle {
  margin-top: 30px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pop-forward, .pop-back, .info {
  position: fixed;
  width: 20px;
  height: 20px;
  z-index: 99;
  background-image: url(../images/buttons/forward.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pop-back {
  position: relative;
  background-image: url(../images/buttons/back.svg); }

.pop-back:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pop-forward, .pop-back, .info {
  position: relative;
  float: left;
  margin-right: 10px; }

.pop-forward:hover, .pop-back:hover, .info:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.cvback {
  width: 20px;
  height: 20px;
  z-index: 99;
  border-radius: 100%;
  background-image: url(../images/buttons/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.info {
  position: relative;
  background-image: url(../images/buttons/info.svg);
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.loading {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 9;
  border-radius: 100%;
  background-image: url(../images/buttons/loading.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.social-group {
  position: absolute;
  width: 50px;
  height: 350px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.social1, .social2, .social3 {
  margin-bottom: 100%; }

.social1 {
  background-image: url(../images/social/social1.svg);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-color: #08b495;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social1:hover {
  background-color: #09c3a1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social2 {
  background-image: url(../images/social/social2.svg);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-color: #08b495;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social2:hover {
  background-color: #09c3a1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social3 {
  background-image: url(../images/social/social3.svg);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-color: #08b495;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social3:hover {
  background-color: #09c3a1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social4 {
  background-image: url(../images/social/social4.svg);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-color: #08b495;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social4:hover {
  background-color: #09c3a1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.cvback {
  margin-top: 28px;
  margin-left: 34.5%;
  float: right;
  position: fixed; }

.cvwhite {
  color: white; }

.halfwhite {
  color: rgba(255, 255, 255, 0.75); }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

table {
  border-collapse: collapse; }

.table-padding {
  padding-right: 40px; }

.cvtable {
  font-size: 1.25rem; }

.cvdown {
  padding-bottom: 50px; }

.tools {
  opacity: 0.75;
  font-family: "akzidenz-grotesk_next_regulRg"; }

.letterfixabout {
  margin-left: 3px; }

.letterfixhello {
  margin-left: -5px; }

.iframe-con {
  display: block;
  height: 100%;
  width: 100%; }

.app-iframe {
  border: none;
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 370px;
  max-height: 658px;
  height: 100%; }

@media only screen and (min-width: 767px) {
  .cvintro {
    font-size: 1.5rem; }

  .contact-icon {
    display: none; } }
@media only screen and (max-width: 767px) {
  .container {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100% !important;
    width: 100% !important; }

  h1 {
    padding-top: 0;
    font-size: 3rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .intro, #contact {
    font-size: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .inside1 {
    padding-top: 0; }

  .inside2 {
    position: relative;
    height: 100%; }

  .col1 {
    width: 100%;
    float: default;
    height: 40% !important; }

  .col2 {
    width: 100%;
    height: 50% !important; }

  .col3 {
    width: 100%;
    height: 10% !important; }
    .col3 .social-group {
      width: 100%; }

  .social-group {
    height: 35px; }

  .social1, .social2, .social3 {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    margin-right: 7%; }

  .social4 {
    width: 35px;
    height: 35px; }

  .cvback {
    position: fixed;
    right: 0;
    margin-top: 5px;
    margin-right: 10%; }

  #contact {
    display: none; }

  .contact-icon {
    position: fixed;
    margin-right: 8.5%;
    right: 0;
    margin-top: -4px; }

  .phone, .mail {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%; }

  .mail {
    background-image: url(../images/social/mail.svg);
    background-size: cover;
    background-position: center; }

  .phone {
    background-image: url(../images/social/phone.svg);
    background-size: cover;
    background-position: center; }

  .pop-forward:hover, .pop-back:hover, .info:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .pop-back:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .link:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  .cvtable {
    font-size: 0.7rem; }

  .image-thumb_1 {
    float: left; }

  .image-thumb_2 {
    float: left; }

  .image-thumb_3 {
    float: left; }

  .image-thumb_4 {
    float: left; }

  .image-thumb_5 {
    float: left; }

  .image-thumb_6 {
    float: left; }

  .image-thumb_7 {
    float: left; }

  .image-thumb_8 {
    float: left; }

  .image-thumb_9 {
    float: left; }

  .image-thumb_10 {
    float: left; }

  .image-thumb_11 {
    float: left; }

  .image-thumb_12 {
    float: left; }

  .image-thumb_13 {
    float: left; }

  .image-thumb_14 {
    float: left; }

  .info-text {
    padding-top: 5%; }

  .letterfixabout {
    margin-left: 1px; }

  .letterfixhello {
    margin-left: 0px; } }
@media only screen and (min-width: 767px) and (max-width: 1130px) {
  .intro, #contact {
    font-size: 1.5rem;
    margin-bottom: 5%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; } }
@media only screen and (max-width: 467px) and (max-height: 767px) {
  h1 {
    font-size: 2rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 3%; }

  .intro, #contact {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; } }
@media only screen and (max-width: 467px) and (max-height: 467px) {
  h1 {
    font-size: 1.5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 3%; }

  .intro, #contact {
    font-size: 0.75rem;
    margin: 0;
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; } }
